@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.skill-cards {
  height: 300px;
}

@media (min-width: 768px) {
  .skill-cards {
    height: 500px;
  }
}

.sticky-element {
  z-index: 1; /* Lower z-index on mobile */
}

body {
  overflow-x: hidden;
}
